html {
    background-image: url("fire.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}

#wrapper {
    height: 700px;
    width: 700px;
    margin: auto;
    margin-top: 150px;
    background-image: url(smokeback.jpg);
    background-repeat: no-repeat;
}

h1 {
color: orangered;
font-size: 100px;
text-align: center;
margin-bottom: 0;
}

div img {
width: 400px;
height: 400px;
margin-left: 150px;
margin-top: 0px;
padding-top: 0px;
}

h2 {
color: whitesmoke;
margin-left: 20px;
font-size: 110%;
}

#date {
    color: orangered;
}

#burn {
    color: orangered;
    font-style: italic;
}